.fiche-acteurs{
  display: flex;

  background-color:  linear-gradient(to top left, #ff5a09 -100%, #393939 113%);
  border-color: black;

  justify-content: center;


}

.fiche-film{
  display: flex;
  background-color: lightslategrey;
  max-width:80%;
  margin: 0 auto 0 auto;

  div{
    display: flex;
    margin-top:auto;
    margin-right: 3%;
  }
}



.liste-acteurs{

  display: flex;
  justify-content: center;




}
.liste-acteurs h1{
  display: flex;
  justify-content: space-between;




}

.user{
  width: 290px;
  height: 30px;
  margin: 30px 0 40px 0;
  padding:3px;
  transition: 0.5s;
  border-radius: 5px;

  &:focus{
    background-color: beige;
  }
}

p.specs2 {
  font-family: $ff-minititle;
  color:black;

  &:before{
    content: " | ";
    margin: 6px;
  }
}

p.specs{
  font-family: $ff-minititle;
  color:black;
}

div.acteur{
  padding: 80px;
  margin-top: auto;

  h4{
    text-align: center;
    font-family: $ff-normal;
  }
}


.acteur img{

  width:100%;



}

p.description2{
  max-width: 40%;
  margin: auto;
  line-height: 4;
  font-family: $ff-minititle;
  color: black;
  font-size: rem(19);
  letter-spacing: 1px;
}

.formulaire{
  display: flex;
  justify-content: center;
}

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .body {
  position: relative;
  max-width: 300px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}

fieldset{
  border:none;

  li{
    list-style: none;
  }
}

textarea{
  width: 560px;
  padding: 10px;
  resize: none;
  transition: 0.5s;
  border-radius: 10px;

  &:focus{
    background-color: beige;
  }
}

ol{
  padding: 0;


}

.container{
  padding-top: 150px;
}

.body p{
  font-family: $ff-minititle;
  color:black;
  font-style: italic;
}

@media screen and (max-width: $breakpoint-sm){

  p.description2{
    max-width: 80%;
    padding: 30px;
    line-height: 2;
    text-align: center;
  }

  .fiche-film{
    flex-direction: column;

    div{
      padding-left: 10px;


    }
  }

  div.acteur{
    padding: 15px;
  }

  .affiche{
    height: 500px;
  }

  textarea{
    width:290px;
  }


}