//STYLE DE NOTRE HEADER

//STYLE DE NOTRE HEADER
.fa-film{
  color: white;
  font-size: 200px;
  padding-left: 40px;
}


.logo p{

  font-size: 25px;
  color: white;
  padding-left: 25px;
  font-family: 'Electrolize', sans-serif;
  text-transform: uppercase;
  font-weight: $fw-bold;
  letter-spacing: 5px;


}
.header-page {
  background-image: linear-gradient(
                  to top right,
                  black, blue
  );
  margin-bottom: 50px;
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: 0 0 rem(5);
      font-family: 'Black Han Sans', sans-serif;
    }

    ul {
      list-style: none;
      padding: 0;
      //width: 100%;
      text-align: center;

      li {
        position: relative;

        & > ul {
          display: none;
          background-color: $gray-700;

        }

        &:hover > ul {
          display: block;
        }

      }

      #settings:hover {
        color: white;
      }

    }

    div.logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        padding: rem(25);
      }
    }

  }

  /* reset our lists to remove bullet points and padding */
  .mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Sedgwick Ave', cursive;
  }

  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu a {
    display: block;
    background-color: #CCC;
    text-decoration: none;
    padding: rem(10);
    color: #000;
  }

  /* add hover behaviour */
  .mainmenu a:hover {
    background-color: lightgray;
  }

  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */

  .mainmenu li:hover .submenu {
    display: block;
    max-height: rem(200);
  }

  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */

  .submenu a {
    background-color: #999;
  }

  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
    background-color: #666;
  }

  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    z-index: 1;
  }

  label {
    display: block;
    text-align: center;
    color: white;
    padding: rem(10) 0 rem(10) 0;
  }

  input[type=checkbox]:checked + ul {
    display: block;
  }

  input[type=checkbox] {
    display: none;
  }

  a.settings {
    font-size: rem(35);
  }

}

@media screen and (min-width: $breakpoint-sm) {

  .header-page {

    margin-bottom: 20px;
    nav {
      flex-direction: row;
      justify-content: space-between;

      ul {
        width: auto;
        display: flex;

        a {
          padding: rem(5) rem(10);
        }

        li > ul {
          position: absolute;
        }

      }

      .hamburger {
        display: none;
      }

      .fa {
        position: relative;
        top: rem(17);
      }

    }

  }

  label.show-menu {
    display: none;
  }

}

@media screen and (max-width: $breakpoint-sm) {
  div.logo {
    display: flex;
    flex-direction: column;

    img {
      margin-top: rem(20);
      height: rem(70);

    }



  }

  ul.menu-dsk{
    display: none;
  }

  i.fa {
    position: relative;
    bottom: rem(37);
    left: rem(65);
    top: initial;
  }

  .navigation {
    width: rem(376);
  }

  .mainmenu, .submenu {
    display: none;
  }


  .fa-film{
    z-index: 4;
    position: fixed;
    font-size: 50px;
    padding: inherit;
    margin-top:23px;
  }

  .logo p{
    display: none;
  }


}













