.hero{


    background: url(../images/ecplosion.jpg) center/cover no-repeat;
    height:500px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
}

.sub-titre{
    background: rgba(0, 0, 0, 0.5);
    height:200px;
    width: 100%;

}
h3{

    color: white;
    box-shadow: 10px 10px 8px 10px black;
    text-transform: uppercase;
}