.wrapper{
  display: flex;
  align-items: flex-start;
  margin: 40px;
  //background: url(../images/backgrouns-image.jpg) center/cover no-repeat;
  background-size: 1000px 500px;
  border-radius: 4px;

  .button{
    order: 2;
    text-align: center;



  }
  .text{

    padding-left: 30px;


  }
  h2{

    display: flex;
    flex-direction: row;

  }
  h1{
    color: purple;



  }

  .film{



  }
  .liste-films{
    vertical-align: baseline;

  }
  .text-swiper{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    position: absolute;
  }
  .icons{
    display: flex;

  }

}


.liste-films img{

  width: 100%;
  box-shadow: 2px 2px 8px white;
  position: relative;
  bottom: 20px;

}
h2{
  align-self: center;
  vertical-align: baseline;
  text-align: center;
}


.bundle{
  display: flex;
  max-width: 75%;
  background-color: lightslategrey;
  margin-left: auto;
  margin-right: auto;
}

.information{
  padding-left:30px;
  max-width: 650px;
  margin-top: auto;
  margin-bottom: auto;

  p.description{
    font-family: Oswald, sans-serif;
    letter-spacing: 0.5px;
    line-height: 250%;
    font-size: rem(18);
    color:black;
  }

  .liste-films img{
    width:100%;
  }

}



@media screen and (max-width: $breakpoint-sm){

  .bundle{
    flex-direction: column;
  }

  .liste-films img{
    width:100%;
  }

  .hvrbox .hvrbox-layer_top{
    width:inherit;
  }

  p.description{
    font-size:rem(14);
    padding:20px;
    text-align: center;
  }

  .information{
    padding:initial;
  }

}

