.swiper-container {
  width: 100%;
  height: 300px;
  background-color: black;

  margin-bottom: 75px;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;

  justify-content: center;
  align-items: center;
}
.text-swiper{
  color:  #D0560A;
  position: absolute;
  top: 20px


}
.text-swiper h2{

  font-size: 10px;
  color: goldenrod;

}
.template2 img{

  opacity: 0.4;
  filter: alpha(opacity=40);

}
.text-swiper h1{

  font-size: 14px;


}