

footer{
  display:flex;
  justify-content: space-around;

  background-color: $color-bg-light;

  #nom{
    margin-left: 65px;
    margin-top: 10px;
  }

  #bouton{
    margin-top:6px;
  }


  p{
    color:white;
  }



  .fa-arrow-up{
    color: white;
    height: 20px;
    width: 20px;
  }
}


.fa-facebook-square{
  font-size: 30px;

  color: $color-facebook;
  padding: 10px;
  cursor: pointer;
  &:hover{
    color:blue;

  }
}
.fa-google-plus-g{

  font-size: 30px;

  color: $color-googleplus;

  padding: 10px;

  cursor: pointer;
  &:hover{
    color:red;

  }
}

.fa-twitter{

  font-size: 30px;

  color: $color-twitter;
  padding: 10px;

  cursor: pointer;
  &:hover{
    color:lightskyblue;

  }


}

footer img{
  width: 35px;
}
.media{
  display: flex;




}
.liens{

  display: flex;
  margin-top:auto;
}

.noms{

  display: flex;
  padding-left: 20px;
}
footer p{

  padding: 5px;

  font-family: $ff-normal;
}

.movieDB{
  margin-top:auto;
}


@media screen and (max-width: $breakpoint-sm) {

  .noms{
    flex-direction: column;
  }

  footer p{
    margin:0;
    text-align: center;
  }

  .liens{
    margin-top: auto;
    margin-right: 20px;
  }
}