// LES STYLES DE BASE DES BALISES <h>


h1{
  font-size: rem(10);
  color: #410093;
}

h2{
  font-size: rem(13);
}

h3{
  font-size: rem(50);
}

h4{
  font-size: rem(14);
}




