//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes
$fz-normal: rem(16);

$lh-normal: 1.5;

/// Font family

$ff-normal:'Ubuntu', sans-serif;
$ff-minititle: 'Oswald', sans-serif;
$ff-title: 'Electrolize', sans-serif;
/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
